/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
 
:root {
    --font-grey:            #E0E0E0;
    --background-color:     #1A1C1E;
    --services-background:  #000000;
    --yellow:               #FFC733;
    --heading-font:         "Montserrat", system-ui;
    --body-font:            "Source Sans 3", sans-serif;
    --yellow-filter:        
    brightness(0) 
    saturate(100%) 
    invert(95%) 
    sepia(16%) 
    saturate(7496%) 
    hue-rotate(327deg) 
    brightness(100%) 
    contrast(100%);
     --lightgrey-filter:
    brightness(0)
    saturate(100%) 
    invert(86%) 
    sepia(3%) 
    saturate(9%) 
    hue-rotate(347deg) 
    brightness(103%) 
    contrast(95%);
 }
    
    
    
    
    
  /*------------------------------------*\
    #BOX-SIZING
  \*------------------------------------*/
    
  * {
    box-sizing: border-box;
  }
  
  
  
  
  
  /*------------------------------------*\
    #MARGINS
  \*------------------------------------*/
  
  html {
    margin: 0px;
    padding: 0px;  
  }
  
  
  
  
  
  /*------------------------------------*\
    #HEADINGS
  \*------------------------------------*/
  
  h1, h2, h3 {
    font-family: var(--heading-font);
    font-weight: bold;
    text-transform: uppercase;
  }

  
  h1 { font-size: clamp(14px, 5.5vw, 34px); }
  
  h2 { font-size: clamp(12px, 3vw, 28px);   }
  
  h3 { font-size: clamp(10px, 2.2vw, 20px); } 
  
  
  
  
  
  /*------------------------------------*\
    #FONTS
  \*------------------------------------*/
  
  html {
    font-size:   min(3.2vw, 14px);
    font-weight: light;
    font-family: var(--body-font);
    color:       var(--font-grey);
  }
  
 
  
  
  
  
  
  /*------------------------------------*\
    #HEADER (NAVBAR + HERO)
  \*------------------------------------*/
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    background: url('assets/cover.jpg') no-repeat center;
    background-size: cover;
  }
    
  .navbar {
    padding: .5rem;
    background-color: rgba(96,96,96,.2);
    width: 100%;
  }

  .navbar__container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar__logo {
    width: 40px;
    margin: 1rem 3rem .5rem 3rem;
    filter: var(--lightgrey-filter);
  }

  .navbar__icons li {
    display: inline;
    padding: .2rem;
  }

  .navbar__icons img {
    width: 35px;
    filter: var(--lightgrey-filter);
  }
  
  .navbar__menu ul {
    display: flex;
    flex-direction: row;
    font-size: min(5vw, 16px);
  }

  .navbar__menu--link {
    list-style: none;
    color: var(--font-grey);
    text-decoration: none;
    font-weight: 650;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
   
  .navbar__icons--fb:hover, .navbar__icons--map:hover {
    transform: scale(1.08);
    filter: var(--yellow-filter)
  }

  .navbar__menu--link:hover {
    color: var(--yellow);
  } 

  .navbar__icons--fb, .navbar__icons--map {
    width: 20px;
 }

  .navbar__logo:hover {
    content: url('assets/logo_mono.png');
    filter: var(--yellow-filter);
  }

  
  

  
  @media (max-width: 920px) {

  .navbar__menu ul {
    flex-direction: column;
    text-align: center;
      }
  
  .navbar__menu--link {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .navbar__container {
    flex-direction: column;
    align-items: center;
  }

  .navbar__logo {
    width: 60px;
  }

  .navbar__icons {
    padding-top: .5rem;
  }

  .navbar__logo:hover {
    
    width: 60px;
  }

 }
 
  
  

 
  /*------------------------------------*\
    #MAIN CONTENT
  \*------------------------------------*/
  
  main {
    width: 100%;
    margin: 0 auto;
  }
  
  
  
  
  
  /*------------------------------------*\
    #ABOUT
  \*------------------------------------*/
  
  
  
  
  /*------------------------------------*\
    #SERVICES
  \*------------------------------------*/
  
 
  
  
  
  
  
  /*------------------------------------*\
    #CONTACT
  \*------------------------------------*/
  
  
  
  
  
  /*------------------------------------*\
    #MAP
  \*------------------------------------*/
  
 
  
  
  
  
  /*------------------------------------*\
    #FOOTER
  \*------------------------------------*/
  
  footer {
    background-color: var(--yellow);
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
  
  .footer__content {
    text-transform: uppercase;
    width: 80%;
    padding: 1rem;
    text-align: center;
  }
  
  .footer__content ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer__content--link {
    text-decoration: none;
    font-size: clamp(10px, 1.1rem, 14px);
    font-weight: 450;
    color: var(--background-color);
  }
  
  .footer__content li:hover {
    transform: scale(1.06);
    transform-origin: center center;
  }
  
  .footer__up {
    display: flex;
    justify-content: end;
    filter: var(--png-light-filter);
  }
  
  #up-button {
    width: 3.5rem;
    padding: .5rem;
  }
  
  #up-button:hover {
    transform: translateY(-4px);
  }
  
  .footer__logo {
    height: 17px;
    margin: 0px 0px 2.7px 0px;
  }
  
  .footer__copyright {
    padding: .5rem;
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    font-size: 10px;
  }
  
  .footer__copyright--left, .footer__up {
    width: calc(50% - 280px);
  }
  
  .footer__copyright--date {
    display: flex;
    flex-direction: row;
  }
  
  .footer__copyright--center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 280px;
  }
  
  
  
  
  
  
  @media (max-width: 910px) {
    
  .footer__content ul {
    flex-direction: column;
    align-items: center;
  }
  
  
  .footer__content li {
    padding-top: .6rem;
  }
  }
  
  
  
  
  
  @media (max-width: 480px) {
  
  .footer__copyright--center {
    flex-direction: column;
  }
  }





  /*------------------------------------*\
    #IMPRESSZUM + POPUP IMPRESSZUM
  \*------------------------------------*/
  
  .impresszum__mail--link {
    text-decoration: none;
    color: var(--font-color);
  }
  
  .impresszum__mail--link:hover {
    color: var(--font-color-hover);
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup__about-me, .popup__impresszum {
    margin: 40px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 5px;
    width: 50vw;
    position: relative;
  }
  
  .popup__impresszum h2 {
    margin-top: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-pair);
    font-weight: bold;
    
  }
  .popup__impresszum .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--font-color);
  }
  
  .popup__impresszum .close:hover {
    color: rgba(10, 21, 34, .7);
    transform: scale(1.1);
  }
  
  .popup__impresszum .content {
    text-align: center;
    line-height: 1.3rem;
  }
  
  .popup__impresszum p {
    padding-bottom: 1rem;
  }
  
  .popup__button {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--font-pair);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .popup__button:hover {
    color: var(--secondary-color-hover);
    font-size: 1.02rem;
  }
  
  .profile__name {
    font-family: var(--font-pair);
    font-weight: 800;
  }
  
  .profile__tag, .impresszum__tag {
    font-family: var(--font-pair);
    text-transform: uppercase;
  }
  
  .popup__impresszum {
    color: var(--font-color);
  }
  
  .impresszum__tag {
    padding: 1rem;
  }
  
  .impresszum__header--bold {
    font-weight: bold;
  }
  
  .profile-pic {
    width: 111px;
  }
  
  @media screen and (max-width: 732px){
  
  .popup__impresszum {
    width: 85%;
  }
  }
  